body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('img/br.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(12px);
}
.container {
    background-image: url('img/5a2ed46c5e2650bc27cd9d9a943111ef.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 10px 15px 3px rgba(77, 76, 76, 0.2);
    width: 450px;
    text-align: center;
    position: relative;
    border: 2px solid white;
}
.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
h2 {
    color: white;
    margin-top: 50px;
    margin-bottom: 20px;
}
input {
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}
button {
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
button:hover {
    background-color: #0056b3;
}
.forgot-password {
    display: block;
    text-align: right;
    margin-top: 10px;
    text-decoration: none;
    color: red;
    font-size: 14px;
}
.forgot-password:hover {
    text-decoration: underline;
}
.register-link {
    margin-top: 15px;
    font-size: 14px;
    color: white;
}
.register-link a {
    color: yellow;
    text-decoration: none;
    font-weight: bold;
}
.register-link a:hover {
    text-decoration: underline;
}
.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    color: white;
}
.remember-me {
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.remember-me input {
    margin-right: 5px;
}